@font-face {
    font-family: eightbit;
    src: url('../fonts/minecraftia.ttf');
}

* {
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
	background-color: #00acaa;
}

.frame {
	position: absolute;
	left: 50%;
	 -webkit-transform: translate(-50%, 0);
  -moz-transform:    translate(-50%, 0);
  -ms-transform:     translate(-50%, 0);
  -o-transform:      translate(-50%, 0);
  transform:         translate(-50%, 0);
	top: 20;
	bottom: 0;
	width: 610px;
	height: 100%;
	background-image: url('../images/gameboy.png');
	background-repeat: no-repeat;
}

.frame::after {
	content: "";
	position: absolute;
	width: 385px;
	height: 342px;
	top: 92px;
	left: 117px;
	z-index: 1;
	overflow: hidden;

	background-color: #000;
}

canvas#main {
	position: relative;

	width: 325px;
	height: 342px;

	top: 92px;
	left: 148px;

	z-index: 2;

	background-color: #000;
}